extends templates/layout


block content
    main
        section(class="movie")
            .wrapper
                .movie__header
                    h4 38. Hereditary (2018)
                    h5 Directed by Me
                img(src="https://yt3.ggpht.com/l7Tl1cX_7LPK2x3q9JI4PVyzISyw86TN2ns0XpzYFtvFw4oOk9NBG_pVMxUaBkXM47q-2MIrEP7tpA=s640-c-fcrop64=1,00006b19ffffeb18-nd")

        section(class="movie")
            .wrapper
                .movie__header
                    h4 38. Hereditary (2018)
                    h5 Directed by Me
                img(src="https://yt3.ggpht.com/l7Tl1cX_7LPK2x3q9JI4PVyzISyw86TN2ns0XpzYFtvFw4oOk9NBG_pVMxUaBkXM47q-2MIrEP7tpA=s640-c-fcrop64=1,00006b19ffffeb18-nd")